/*background = #40BEF5
buttonColor = #1C84B0
fonts = helvetica, arial, sans serif

body
  font: fonts 
  background-color: background 
  color: white

a
  color: white
  text-decoration: none

button
  radius: 2px
  color: white
  background-color: buttonColor
*/

.hide
  display: none
