  <button href='/' class='previous'>Previous</button>
  <div>{{question}}</div>
  <div class='hide toggle'>{{answer}}</div>
  <button href='/' class='toggle'>Show</button>
  <button href='/' class='hide toggle'>Hide</button>
  <button href='/' class='next'>Next</button>
  <button href='/' class='add'>Add a card</button>