Sign up:
<form class='signup'>
  Username: <input name='username' class='username'></input><br>
  Password: <input name='password' class='password'></input><br>
  Confirm Password: <input name='confirm' class='confirm'></input><br>
  Email: <input name='email' class='email'></input><br>
  <button type='submit'>Sign up</button>
</form>
